n8n/ExpensesTracker/ExpenseTracker.json
{
  "name": "ExpenseTracker",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -944,
        -96
      ],
      "id": "75e9b2c1-4a74-4e04-9807-6e703d46f821",
      "name": "Telegram Trigger",
      "webhookId": "147006e7-8bb7-4811-b6b2-5bbf423b9025",
      "credentials": {
        "telegramApi": {
          "id": "6fGoPY02TvyUb8IL",
          "name": "Telegram Finance Bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an intelligent finance assitance. Conver the following message into a JSON table with three fields: Currency, amount and expense category. \n\n{{ $json.message.text }}\n\nOutput only the table as JSON array. \nIf the currency is not mentioned, default to DOLLAR. \nIf the category isn't mentioned, infer from the item. ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -736,
        -96
      ],
      "id": "16933f25-f443-440b-951f-967f1fba934a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -880,
        112
      ],
      "id": "1940fa9a-1ba2-4afb-bc54-269f42f8050c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "E6WIeKvjEv2Mw0cn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "sessionKey"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -736,
        112
      ],
      "id": "ded1a60a-54d1-4988-b1ab-cd336b214c68",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet raw = $input.first().json.output;\n\n// Remove the triple backticks and \"json\" label\nlet cleaned = raw.replace(/```json|```/g, '').trim();\n\nlet data;\ntry {\n  data = JSON.parse(cleaned);\n} catch (error) {\n  throw new Error(\"Failed to parse the output:\\n\" + cleaned);\n}\n\nreturn data.map(item => ({\n  json: {\n    currency: item.Currency,\n    amount: item.amount,\n    category: item[\"expense category\"]\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        -96
      ],
      "id": "0f79ce74-1efe-4173-b4a1-7800302a5adb",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appEbx53nRlYZya1W",
          "mode": "list",
          "cachedResultName": "ExpenseReport",
          "cachedResultUrl": "https://airtable.com/appEbx53nRlYZya1W"
        },
        "table": {
          "__rl": true,
          "value": "tblOFV6bamPQHwuJV",
          "mode": "list",
          "cachedResultName": "Expenses",
          "cachedResultUrl": "https://airtable.com/appEbx53nRlYZya1W/tblOFV6bamPQHwuJV"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Amount": "={{ $json.amount }}",
            "Currency": "={{ $json.currency }}",
            "Category": "={{ $json.category }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Currency",
              "displayName": "Currency",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -176,
        -96
      ],
      "id": "39ad4286-5210-4d9f-9182-5ce5df0f10f8",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "A6VxEH9x1UH6AkYa",
          "name": "Airtable Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2b842bf8-95c8-4d17-b21c-9e5e48e366fd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f78a8dabb88fda04965214e50531d71dd8df55eb877409d18fe5519d28063763"
  },
  "id": "UMZMb5UEAW0xKmDS",
  "tags": []
}